/* Header */
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background: #1b1b1b;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header { 
    display: flex; 
    justify-content: space-between; 
    background: red;
    align-items: center;
    padding: 20px;
    height: 64px;
}

.logo { 
    display: flex; 
    align-items: center; 
}

.logo img{ 
    width: auto;
    height: 32px;
}

/* Main Container */
body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

main {
    display: flex;
    flex: 1;
}

.main-container {
    display: flex;
    flex: 1;
}

#sidebar {
    width: 240px;
    background: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    flex: 1;
    padding: 20px;
    background: #444;
    overflow-y: auto; /* Scrollable content */
}

.main-content {
    padding: 20px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}