.sub-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.genre-filter {
  display: flex;
  gap: 10px;
}

.genre-filter button {
  background-color: var(--primary);
  color: var(--primary-background);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genre-filter button.active {
  background-color: var(--secondary);
}

.genre-filter button:hover {
  background-color: var(--primary-hover);
}

.songs-collection {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 48px;
  box-sizing: border-box;
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.song-item {
  width: 240px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.song-item:hover {
  transform: translateY(-5px);
  background-color: var(--card-bg);
  cursor: pointer;
}

.song-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.song-info {
  padding-top: 10px;
}

.song-info h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary);
}

.song-info p {
  color: var(--text-muted);
}