@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary: #A0182F;
  --primary-rgb: 224, 62, 62;
  --primary-hover: #B73232;
  --primary-background: #121214;
  --card-bg: #1E1E22;
  --text-light: #E6E6E6;
  --text-muted: #8F8F99;
  --border-color: #333339;
  --error: #E84949;
  --button-hover: #171717;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--text-light);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html, body {
  height: 100%;
  background-color: var(--primary-background);
  z-index: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 0.85rem;
  font-weight: 600;
}

h6 {
  font-size: 0.8rem;
  font-weight: 600;
}

p,
li,
a,
label,
input,
button {
  font-size: 0.8rem;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 1rem 6rem;
  background: var(--primary-background);
  border-bottom: 1px solid var(--border-color);
  z-index: 10;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.company-wrapper, .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img, .logo a {
  height: calc(52px - 2rem);
  width: auto;
}

.company-name {
  font-weight: bold;
}

.search-bar {
  display: inline-flex;
  width: 40%;
  position: relative;
}

.search-bar input {
  flex: 1;
  width: 100%;
  padding-left: 38px;
  border: 1px solid transparent; 
  border-radius: 8px;
  height: calc(52px - 1rem);
  background-color: var(--primary-background);
  color: var(--text-light);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.2);
  outline: none;
}

.fa--search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1664 1664'%3E%3Cpath fill='%23616060' d='M1152 704q0-185-131.5-316.5T704 256T387.5 387.5T256 704t131.5 316.5T704 1152t316.5-131.5T1152 704m512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124q-143 0-273.5-55.5t-225-150t-150-225T0 704t55.5-273.5t150-225t225-150T704 0t273.5 55.5t225 150t150 225T1408 704q0 220-124 399l343 343q37 37 37 90'/%3E%3C/svg%3E");
  transition: background-image 0.3s ease;
}

.search-bar input:focus + .fa--search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1664 1664'%3E%3Cpath fill='%23de1b28' d='M1152 704q0-185-131.5-316.5T704 256T387.5 387.5T256 704t131.5 316.5T704 1152t316.5-131.5T1152 704m512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124q-143 0-273.5-55.5t-225-150t-150-225T0 704t55.5-273.5t150-225t225-150T704 0t273.5 55.5t225 150t150 225T1408 704q0 220-124 399l343 343q37 37 37 90'/%3E%3C/svg%3E");
}

.nav-bar ul {
  display: flex;
  list-style: none;
  font-weight: 600;
}

.menu-items {
  gap: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: var(--text-light);
  font-size: .8rem;
  transition: color 0.3s ease;
}

.nav-bar a:hover {
  color: var(--primary);
}

.hamburger-menu {
  display: none;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

.sign-in button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: var(--primary);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign-in button:hover {
  background: var(--button-hover);
  color: var(--primary);
}

main {
  display: block;
  min-height: calc(100vh - 52px);
  flex: 1 0 auto;
}

footer {
  background-color: var(--card-bg);
  padding-top: 2rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0 6rem 2rem 6rem;
  align-items: start;
  gap: 2rem;
}

.footer-section {
    padding-bottom: 1rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo img {
  width: 36px;
  height: auto;
}

.footer-logo p{
  width: 100%;
  max-width: 250px;
}

.footer-content h3 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(var(--text-light-rgb), 0.1);
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 0.5rem;
}

.footer-content ul li a {
  text-decoration: none;
  color: var(--text-light);
  transition: color 0.3s ease;
}

.footer-content ul li a:hover {
  color: var(--primary);
}

.footer-links ul, .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-icon {
  font-size: 1.1rem;
  color: var(--text-light);
  vertical-align: middle;
  margin-right: 0.25rem;
}

.footer-contact p {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.footer-bottom {
  text-align: center;
  padding: 1rem 0;
  color: var(--text-muted);
  border-top: 1px solid var(--border-color);
  margin-top: 1rem;
}

@media screen and (max-width: 799px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.75rem;
  }

  p,
  li,
  a,
  label,
  input,
  button {
    font-size: 0.7rem;
  }

  header {
    padding: 1rem;
  }

  .header-content {
    justify-content: space-between;
  }

  nav, .sign-in {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    /* Perubahan di sini: Mengubah right menjadi 0 */
    right: 0;
    transform: translateY(10px);
    background-color: var(--primary-background);
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;
    width: auto;
    min-width: 150px;
    /* Sesuaikan max-width jika perlu agar tidak ada padding ekstra yang mendorongnya keluar */
    max-width: calc(100vw - 1rem); /* Jika header memiliki padding 1rem, maka kurangi 1rem dari total lebar viewport */
  }

  .hamburger-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .hamburger-menu-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    margin: 0;
  }

  .hamburger-menu-items a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: var(--text-light);
    text-align: center;
  }

  .mobile-sign-in-wrapper {
      padding: 10px 16px;
      text-align: center;
  }

  .sign-in-mobile button {
      display: block;
      width: 100%;
      max-width: 200px;
      margin: 5px auto 0 auto;
      text-align: center;
      padding: 8px 12px;
      border: none;
      border-radius: 6px;
      background: var(--primary);
      font-weight: bold;
      color: var(--text-light);
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 0.7rem;
  }

  .sign-in-mobile button:hover {
    background: var(--button-hover);
    color: var(--primary);
  }

  footer {
    padding-top: 1.5rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    padding: 0 1.5rem 1.5rem 1.5rem;
    gap: 1.5rem;
  }

  .footer-content h3 {
    margin-bottom: 0.5rem;
  }

  .footer-contact p {
    gap: .5rem;
  }

  .footer-bottom {
    text-align: center;
    padding: 1rem 1.5rem;
  }
}