body.song-detail-page .main-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  height: calc(100vh - 52px);
}

.lyrics-container {
  grid-area: lyrics;
  display: flex;
  flex-direction: column;
  width: 75%;
  max-height: calc(100vh - 2*2rem - 52px);
  height: 100%;
}

#song-lyric {
  flex: 1;
  overflow: auto;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
  color: var(--text-muted);
  text-wrap: wrap;
  padding: 0 1rem 0 0;
}

#song-lyric::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

#song-lyric::-webkit-scrollbar {
  width: 6px;
  background: var(--card-bg);
  border-radius: 8px;
}

#song-lyric::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}

#song-lyric::-webkit-scrollbar-thumb:hover {
  background: var(--primary-hover);
}

.song-detail-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 25%;
  height: 100%;
  min-height: 0;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  max-height: calc(100vh - 2*2rem - 52px);
  flex: 1 1 0;
}

.current-song-container {
  display: flex;
  flex-direction: column;
}

#song-image {
  width: 100%;
}

.song-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.song-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#song-description {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.current-song-container, .next-song-container {
  display: flex;
}

.next-song {
  display: flex;
  flex-direction: column;
  gap: 1rem;;
}

.next-song-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
}

.next-song-info-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#next-song-image {
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#song-artist, #next-song-artist {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.icon-park-solid--play {
  opacity: 0;
  visibility: hidden;  
  cursor: pointer;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.next-song-container:hover .icon-park-solid--play {
  opacity: 1;
  visibility: visible;
}

.icon-park-solid--play::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipSPlay0'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='5'%3E%3Cpath fill='%23fff' stroke='%23fff' d='M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z'/%3E%3Cpath fill='%23000' stroke='%23000' d='M20 24v-6.928l6 3.464L32 24l-6 3.464l-6 3.464z'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='%23D22630' d='M0 0h48v48H0z' mask='url(%23ipSPlay0)'/%3E%3C/svg%3E");
  display: inline-block;
  width: 32px;
  height: 32px;
}

audio {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: none;
  color-scheme: light;
  font: inherit;
}

audio::-webkit-media-controls-panel {
  background: var(--card-bg, transparent);
  color: var(--text-light);
  box-shadow: none;
}

audio::-webkit-media-controls-enclosure {
  background: var(--card-bg, transparent);
  box-shadow: none;
}

audio::-webkit-media-controls-panel {
  background-color: transparent
}

@media (prefers-color-scheme: dark) {
  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-volume-slider,
  audio::-webkit-media-controls-mute-button,
  audio::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    filter: invert(1);
  }
}
