<header class="cgroovy-header">
    <div class="header-content">
        <div class="company-wrapper">
            <div class="logo">
                <a id="home" href="../.../../index.html">
                    <img src="./src/image/SVG/C'Groovy Logo White.svg" alt="" set="">
                </a>
            </div>
            <div class="company-name">C'Groovy Music</div>
        </div>
        <div class="search-bar">
            <input id="search-input" type="text" placeholder="Search by title or artist">
            <span class="fa--search"></span>
        </div>
        <nav class="nav-bar">
            <ul class="menu-items">
                <li><a id="home" href="../../index.html">Home</a></li>
                <li><a id="song" href="../../collection.html">Song</a></li>
                <li><a id="about-us" href="../../about/about.html">About</a></li>
            </ul>
        </nav>
        <div class="sign-in">
            <button class="sign-in" type="button" id="auth-button">SIGN IN</button>
        </div>
        <div class="hamburger-menu" id="hamburger-menu">
            <iconify-icon icon="material-symbols:menu-rounded" id="hamburger-icon"></iconify-icon>
            <div class="hamburger-dropdown">
                <ul class="hamburger-menu-items">
                    <li><a id="home" href="../../index.html">Home</a></li>
                    <li><a id="song" href="../../collection.html">Song</a></li>
                    <li><a id="about-us" href="../../about/about.html">About</a></li>
                    <li class="mobile-sign-in-wrapper"> 
                        <div class="sign-in-mobile"> 
                            <button type="button" id="auth-button-mobile">SIGN IN</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>